@page
@model ServiceHost.Areas.Admin.Pages.Account.Role.IndexModel
@{
    ViewData["AdminTitle"] = "مدیریت نقش ها";
    Layout = "_AdminLayout";
}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal Tittle</h4>
            </div>
            <div class="modal-body">
                Body goes here...
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-success" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal -->


<div class="col-lg-12">
    <section class="panel">
        <div class="panel-body">
            <a asp-page="Create" class="btn btn-white btn-icon-text my-2 ml-2">
                افزودن نقش<i class="fe fe-download mr-2"></i>
            </a>
        </div>
    </section>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                نقش ها (@Model.Roles.Count)

            </header>
            <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row"><div class="col-sm-6"><div id="sample_1_length" class="dataTables_length"><label><select size="1" name="sample_1_length" aria-controls="sample_1" class="form-control"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div></div><div class="col-sm-6"><div class="dataTables_filter" id="sample_1_filter"><label>Search: <input type="text" aria-controls="sample_1" class="form-control"></label></div></div></div><table class="table table-striped border-top dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 310px;" aria-label="id: activate to sort column ascending">#</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 310px;" aria-label="picture: activate to sort column ascending">نقش</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 310px;" aria-label="picture: activate to sort column ascending">عملیات</th>

                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var role in Model.Roles)
                        {
                            <tr role="row" class="odd">
                                <td class="id">@role.Id</td>

                                <td class="sorting_1">@role.Name</td>

                                <td>
                                    <a href="#showmodal=@Url.Page("./Index", "Edit",new{id=role.Id})" class="btn btn-info ">ویرایش<i class="icon-refresh"></i></a>
                                    <div class="btn-group dropup">
                                        <button class="btn btn-white" type="button">نمایش سطح دسترسی</button>
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button"><span class="caret"></span></button>
                                        <ul role="menu" class="dropdown-menu">
                                            @foreach (var permissionCurrent in role.CurrentPermissions)
                                            {
                                          
                                                
                                                    <li><a href="#">@permissionCurrent</a></li>

                                                
                                                

                                            }



                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table><div class="row"><div class="col-sm-6"><div class="dataTables_info" id="sample_1_info">Showing 1 to 10 of 25 entries</div></div><div class="col-sm-6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Prev</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div></div>
            </div>
        </section>
    </div>
</div>
<!-- page end-->
