@model StoreManager.Application.Contract.Inventory.CreateInventory

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ایجاد محصول جدید</h4>
</div>

<form asp-page="./Index" asp-page-handler="Create"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Price" class="control-label">قیمت</label>
                    <input type="text" class="form-control" asp-for="Price" onchange="makeSlug('Name', 'Slug')">
                    <ul class="parsley-errors-list filled" id="parsley-id-32">
                        <li class="parsley-required">
                            <span asp-validation-for="Price"></span>
                        </li>
                    </ul>
                </div>
            </div>
        
        </div>
   
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">

                    <select asp-for="ProductId" class="form-select form-control" asp-items='new SelectList(Model.products, "Id", "Name")'>
                        <option value="0">گروه محصولی ...</option>
                    </select>
                    <ul class="parsley-errors-list filled" id="parsley-id-32">
                        <li class="parsley-required">
                            <span asp-validation-for="ProductId"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>
